.add_student {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px 0 0 10px;
}

.text_title {
    -fx-text-fill: #1a3395;
}

.close {
    -fx-border: 0 0.5px 0.5px 0;
    -fx-border-color: #00FFFF;
    -fx-background-color: #00FFFF;
    -fx-background-radius: 10px 0 0 10px;
    -fx-border-radius: 10px 0 0 10px;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #FF1460;
}

.error-label {
    -fx-text-fill: red;
}

.grades_table {
    -fx-border-width: 0 1px 1px 1px;
    -fx-border-color: #C8C8C8;
    -fx-border-style: solid;
}

.grades_table_result {
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #C8C8C8;
    -fx-border-style: solid;
}