.title_label {
    -fx-text-fill: #1A3395;
}

.title_label_edit {
    -fx-text-fill: #AB8905;
}

.button_calendar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-color: #A3B5ED;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.button_children_calendar {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.button_children_calendar:hover {
    -fx-background-radius: 5px;
    -fx-border-color: #A3B5ED;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-background-color: linear-gradient(to right, #5852FF, #B438FF);
}

.table-view {
    -fx-font-family: "Sitka Text";
    -fx-font-size: 12px; /* Bạn có thể điều chỉnh kích thước font nếu cần */
}

.table-row-cell {
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-pref-height: 35px;
}

.table-view .column-header-background {
    -fx-pref-height: 35px;
}